@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

html, body {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    background-color: hsl(220, 10%, 26%);
    color: white;
    font-family: Ubuntu, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
    height: 100%;
    display: grid;
    place-content: center;
}

.plurid-plane {
    background-color: hsl(220, 10%, 20%);
    margin: 30px;
    padding: 20px;
    font-size: 14px;
    line-height: 1.4;
}
